<!-- app.component.html -->
<div class="app-container">
  <header class="header">
    <h1 class="main-heading">Welcome to Student Forms</h1>
  </header>
  <nav class="nav">
    <ul>
      <li><a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a></li>
      <li><a routerLink="/contact-details" routerLinkActive="active" class="nav-link">Contact Details</a></li>
      <li><a routerLink="/personal-details" routerLinkActive="active" class="nav-link">Personal Details</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet> <!-- This is where the routed components will be displayed -->
</div>
